
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex; /* Define o layout como flexbox, para alinhar itens em linha ou coluna */
    justify-content: space-between; /* Espaça os itens do header uniformemente */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    background-color: white; /* Define o fundo branco do cabeçalho */
    padding: 15px 30px; /* Define espaçamento interno (padding) de 15px nas bordas superior e inferior, e 30px nas laterais */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave abaixo do cabeçalho */
}


header .logo img {
    width: 100px; /* Define a largura da imagem do logo */
}

header nav a {
    text-decoration: none; /* Remove a sublinha padrão dos links */
    color: #25345F; /* Define a cor do texto dos links como cinza */
    font-weight: 500; /* Define a espessura do texto (negrito leve) */
    margin-left: 20px; /* Adiciona um espaçamento à esquerda de cada link */
    font-size: 24px; /* Aumenta o tamanho da fonte para 18px */
    line-height: 35px; /* Define o espaçamento entre linhas */
    height: 35px; /* Altura do elemento*/
    width: 59px; /* Largura do elemento*/
    font-family: 'Roboto', sans-serif; /* Fonte*/ 
}

header nav a:hover {
    color: #2d98da; /* Muda a cor dos links quando o mouse passa por cima (hover) */
}

header .logo img {
    width: 100px; /* Define a largura da imagem do logo */
}



 /*estilização específica dessa página*/   



     /*filtros partido e candidato*/ 
     .filtros-container {
        display: flex;
         flex-direction: row;
      justify-content: space-evenly;
   }

   /* nova estilização do título + filtros*/

   .title-filtros {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 90px;
      margin-top: 18px;
      margin-right: 40px;
   }

   /*nova estilização tbm*/
.title-container {
  display: flex;
  align-items: center;
}

.title-container h2 {
  color: #25345F;
  font-size: 36px;
  font-style: italic;
  margin: 15px 15px 7px 8px;
  padding-bottom: 10px;

}

.title-container i {
  font-size: 7rem;
  margin-left: 50px;
}
      /* ==== /estilização dos filtros    =======    */


  /*  ==== estilização das estrelas     =====  */
.icon-star {
  display: flex;
  align-items: center;
  margin-left: 18px; /* espaço entre title e estrelas*/
  padding-bottom: 3px;
}

.icon-star i {
  color: rgb(130, 2, 152);
  font-size: 42px;
  margin-left: 15px;
}
   /*  ==== /estilização das estrelas     =====  */


  /* ==== isso aqui também é estilização dos filstros e precisa deixar aqui também    ==== */
.filtros-container {
  display: flex;
  align-items: center;
}

.filtrosbtn {
  display: flex;
  align-items: center;
  margin-left: 30px;
}


/* estilização dos filtros/ deixar assim */
  .filtros-container .filtrosbtn {
  display: flex;
  text-align: center;
  padding: 15px 70px;
  margin-left: 30px; 
  width: 80px;
  height: 25px;
      background: linear-gradient(to right, #90639E, #9AAECE);

 /*  background: linear-gradient(to right, #ce3eeb, yellow); /* Gradiente/ cores teste, usadas primeiro */;
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}

.filtros-container .filtrosbtn i {
  color: white;
  font-size: 24px;
  text-align: center;
  margin-left: 30px;
}


.filtros-container .btn-filtro {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: white;
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  text-align: center; 
  font-family: 'Roboto', sans-serif; /* Fonte*/ 
}
  /*  /filtros partido e candidato */


        /*  ======   section foto individual do candidato  ======     */
        .icon-box .iconvereador {
            display: flex;
            flex-direction: column;

            position: relative;
            height: 230px;
            width: 230px;
            overflow: hidden; /* Para garantir que a imagem não ultrapasse o limite */
            border: 10px solid transparent;   
            background: linear-gradient(to right, #90639E, #9AAECE) padding-box, linear-gradient(to right, #90639E, #9AAECE) border-box  ; 
             /*  background: linear-gradient(to right, #ce3eeb, yellow); cores teste/ usadas primeiro  */
            border-radius: 50%;

            justify-content: left;
            margin-right: 800px;
        }

        .iconvereador img::before {
            content: '';
        position: absolute; 
        top: -5px; /* Ajuste conforme a largura da borda */
        left: -5px; /* Ajuste conforme a largura da borda */
        right: -5px; /* Ajuste conforme a largura da borda */
        bottom: -5px; /* Ajuste conforme a largura da borda */
        background: linear-gradient(to right, #90639E, #9AAECE); /* Degradê da borda */
        /*  background: linear-gradient(to right, #ce3eeb, yellow); cores teste/ usadas primeiro  */
        border-radius: 50%; /* Bordas arredondadas */
        z-index: -1; /* Colocar atrás da imagem */
        }

        .iconvereador img {
            width: 100%; /* Ajusta a imagem para preencher o contêiner */
            height: auto; /* Mantém a proporção da imagem */
        }

        .caption {
            text-align: center;
            margin-top: 5px; /* Espaçamento acima da legenda */

            background: linear-gradient(to right, #90639E, #9AAECE) padding-box, linear-gradient(to right, #90639E, #9AAECE) border-box  ;
            color: white;

            height: 30px;
            width: 220px;

            padding: 10px;
            border-radius: 30px;
        }




         /*  ======   /section foto individual do candidato  ======     */



          /*  ======   section dos comentários  ======     */
            .comment  .comment-container {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: flex-end;
                margin-right: 100px;
            }




                  /*   estilização da caixa "exemplo" que receberá input       */
            .comment-box-input {
            color: white; /* cor do texto */
            border-radius: 8px; /* Bordas arredondadas */
            padding: 20px; /* Espaçamento interno */
            width: 450px; /* Largura fixa das caixas */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */

            background: linear-gradient(to right, #90639E, #9AAECE);

            margin: 10px 0;

            max-width: 550px;
            max-height: 180px;
        }

        .comment-box-input i {
            color: white;
            font-size: 50px;
        }

        /*  estilização do ícone do lápis que se mexe    */
        .comment-box-input .pencil i {
            color: white;
            font-size: 75px;
            text-align: right;
            margin-right: 30px;
            margin-left: 370px;
            padding-bottom: 15px;
        }

        .comment-box-input p {
            color: white;
            font-size: 20px;
            margin-left: 24px;
            margin-right: 24px;
            padding-bottom: 10px;
        }
                     /*   /estilização da caixa "exemplo" que receberá input       */



             /*   estilização das demais caixas   */
          .comment-box {
            color: white; /* cor do texto */
            border-radius: 8px; /* Bordas arredondadas */
            padding: 20px; /* Espaçamento interno */
            width: 450px; /* Largura fixa das caixas */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destaque */

            background: linear-gradient(to right, #90639E, #9AAECE);

            margin: 10px 0;

            max-width: 550px;
            max-height: 180px;
        }


        .comment-box i {
            color: white;
            font-size: 45px;
        }
        

        .comment-box p {
            color: white;
            font-size: 20px;
            margin-left: 24px;
            margin-right: 24px;
            padding-bottom: 10px;
        }
                /*   /estilização das demais caixas   */

           /*  ======   /section dos comentários  ======     */











/*=== footer section :D   ====*/
footer {
    background-color: #76C7CC;
    display: flex;
    justify-content: center;
    height: 30px;
}

/*  ======  /footer section  ========    */