.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
:root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }
  @font-face{
    font-family: Inter;
    src: local(Inter), url(fonts/Inter.ttc)
  }
  @font-face {
    font-family: Roboto;
    src:local(roboto-regular) url(fonts/Roboto);
  }
  button{
    display: grid;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    font-size: 20px;
    background-color: rgb(76, 88, 125, 1);
    text-align: center;
    border: none;
    padding: 4px 32px;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 3px 3px darkgray;

  }
  button:hover{
    font-family: Roboto;
    color: rgb(169, 169, 169);
    font-size: 20px;
    background-color: rgb(49, 57, 81);
    text-align: center;
    border: darkgray;
    padding: 4px 32px;
    transform: scale(1.2);
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    outline: auto;
  }
h1{
    font-family: Inter;
    color: #25345F;
    font-size: 45px;
    text-align: center;
    height: 50px;
}
p{
    font-family: Roboto;
    text-align: center;
}