
<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <!--    arquivo base light html         
        {% extends "base_light.html" %}
        {% block head_extras %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link rel="stylesheet" href="{{url_for('static', filename = 'propo.css')}}">
            <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
                rel="stylesheet">
  {% endblock %}

                    base light comentado porque começou a dar problema      -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comentários Gerais</title>

   
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!--estilização com css-->
        <link rel="stylesheet" href="/Front-end/comentários/htmlcss/generalcomments/css/gencomments.css">

        <!--  ===== link que importa os ícones em formato de código, ele precisa estar aqui senão o ícone não funciona/ não é carregado/ traz todos os ícones que forem chamados no código  =======  -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>


<body>

    <!--   {% block content %}     -->

    <section>  <!-- section da header :D  -->
        <header>
            <div class="logo"> <a href="../../tela inicial/html-css/index.html">
                    <img src="/Front-end/comentários/imgcomments/logobyte.svg" alt="logo da byte"> </a>
            </div>
            <nav>
                <a href="../../menu/html-css/menu.html">Menu</a>
                <a href="../../proposições/htmlcss/propo.html">Proposições</a>
                <a href="../../estatisticas/htmlcss/estatisticas.html">Estatísticas</a>
            </nav>
        </header>

    </section>


        <!-- section do título, ícones e filtros (todos devem estar na mesma section para não haver conflito ao aplicar o css):D   -->
                     <section class="title-filtros">

                <div class="title-container">

                    <i class='bx bxs-quote-alt-left bx-fade-up' ></i>  <!-- ícone de aspas importado que depende do outro link que tá no head pra funcionar-->

                    <h2>COMENTÁRIOS</h2>   <!--título que fica no canto superior esquerdo da pág// hierarquia de itens na linha, por isso o título vem dps do item :(  -->

                    <div class="icon-star">
                        <i class='bx bxs-star'></i> <!--estrela inteira-->
                        <i class='bx bxs-star'></i> <!--estrela inteira-->
                        <i class='bx bxs-star'></i> <!--estrela inteira-->
                        <i class='bx bxs-star'></i> <!--estrela inteira-->
                        <i class='bx bxs-star-half'></i> <!--meia estrela -->
                    </div>
                </div>
            
                <div class="filtros-container">
                    <div class="filtrosbtn">
                        <button class="btn-filtro">Partido</button>
                        <i class='bx bxs-flag-alt'></i>  <!--ícone de bandeira-->
                    </div>
                    <div class="filtrosbtn">
                        <button class="btn-filtro">Candidato</button>
                        <i class='bx bxs-user-circle'></i> <!--ícone de user em formato circular-->
                    </div>
                </div>
            </section>
                  <!--   /section do título, ícones e filtros (todos devem estar na mesma section para não haver conflito ao aplicar o css):D   -->


        <!--=====  section comentários     ======-->

        <!--
        <section class="comments" id="comments">

            <div class="comments-container">

                <div class="comments-box">
                    <p>
                        lorem lorem lorem!
                    </p>
                </div>

                <div class="comments-box">
                    <p>
                        lorem lorem lorem!
                    </p>
                </div>

                <div class="comments-box">
                    <p>
                        lorem lorem lorem!
                    </p>
                </div>

                <div class="comments-box">
                    <p>
                        lorem lorem lorem!
                    </p>
                </div>


            </div>

        </section>          -->
        <!--=====  /section comentários     ======-->

    
        
          <!-- ~~~~~~~~  section dos icons :D      ~~~~~~~~~   -->
                                <!--reaproveitar a estrutura para fazer os icons estáticos-->

       <section class="icons" id="icons">
           
                    <!--  icons que estão do lado direito da página -->
             <div class="icon-right" id="icon-right1">
             <div class="imgvereador">
             <img src="/teste/flask_app/static/img/35.jpg" alt="Vereadora Amélia Naomi">
             </div>
                <div class="caption">Vereadora Amélia Naomi - PT</div>
             </div>
                       
             
            <div class="icon-right" id="icon-right2">
            <div class="imgvereador">
                <img src="/teste/flask_app/static/img/38.jpg" alt="Vereadora Dulce Rita - PSDB">
            </div>
                 <div class="caption">Vereadora Dulce Rita</div>
            </div>

                                
            <div class="icon-right" id="icon-right3">
                <div class="imgvereador">
                    <img src="/teste/flask_app/static/img/40.jpg" alt="Vereador">
                </div>
                     <div class="caption">Vereador</div>
                </div> 

            
                <div class="icon-right" id="icon-right4">
                    <div class="imgvereador">
                        <img src="/teste/flask_app/static/img/43.jpg" alt="Vereador">
                    </div>
                         <div class="caption">Vereador</div>
                    </div>

            
                    <div class="icon-right" id="icon-right5">
                        <div class="imgvereador">
                            <img src="/teste/flask_app/static/img/44.jpg" alt="Vereador">
                        </div>
                             <div class="caption">Vereador</div>
                        </div>


          <div class="icon-right" id="icon-right6">
              <div class="imgvereador">
                  <img src="/teste/flask_app/static/img/45.jpg" alt="Vereador">
             </div>
             <div class="caption">Vereador</div>
        </div>


        <div class="icon-right" id="icon-right7">
            <div class="imgvereador">
                <img src="/teste/flask_app/static/img/47.jpg" alt="Vereador">
           </div>
           <div class="caption">Vereador</div>
      </div>


      <div class="icon-right" id="icon-right8">
        <div class="imgvereador">
            <img src="/teste/flask_app/static/img/50.jpg" alt="Vereador">
       </div>
       <div class="caption">Vereador</div>
  </div>


 <div class="icon-right" id="icon-right9">
              <div class="imgvereador">
                  <img src="/teste/flask_app/static/img/55.jpg" alt="Vereador Walter Hayashi">
             </div>
             <div class="caption">Vereador Walter Hayashi</div>
        </div>


        <div class="icon-right" id="icon-right10">
            <div class="imgvereador">
                <img src="/teste/flask_app/static/img/234.jpg" alt="Vereador">
           </div>
           <div class="caption">Vereador</div>
      </div>
                <!--  /icons que estão do lado direito da página -->






        <!--  =====  "section" de comentários // precisa ficar dentro da section das fotos dos vereadores por causa da hierarquia do código e para poder ficar no centro da página entre as fotos    =====      -->
                <div class="comments-container">

                    <div class="comments-box">
                        <i class='bx bxs-quote-alt-left bx-fade-down' ></i>  <!-- ícone de aspas  -->
                        <p>
                            lorem lorem lorem!
                        </p>
                    </div>


                    <div class="comments-box">
                        <i class='bx bxs-quote-alt-left bx-fade-down' ></i>  <!-- ícone de aspas  -->
                        <p>
                            lorem lorem lorem!
                        </p>
                    </div>


                    <div class="comments-box">
                        <i class='bx bxs-quote-alt-left bx-fade-down' ></i>  <!-- ícone de aspas  -->
                        <p>
                            lorem lorem lorem!
                        </p>
                    </div>


                    <div class="comments-box">
                        <i class='bx bxs-quote-alt-left bx-fade-down' ></i>  <!-- ícone de aspas  -->
                        <p>
                            lorem lorem lorem!
                        </p>
                    </div>


                    <div class="comments-box">
                        <i class='bx bxs-quote-alt-left bx-fade-down' ></i> <!-- ícone de aspas  -->
                        <p>
                            lorem lorem lorem!
                        </p>
                    </div>



        
         <!--  =====  "section" de comentários // precisa ficar dentro da section das fotos dos vereadores por causa da hierarquia do código e para poder ficar no centro da página entre as fotos    =====      -->



                <!--  icons que estão do lado esquerdo da página -->
            <div class="icon-left" id="icon-left1">
                     <div class="imgvereador">
                   <img src="/teste/flask_app/static/img/238.jpg" alt="Vereador">
                         </div>
                  <div class="caption">Vereador</div>
               </div>

        <div class="icon-left" id="icon-left2">
         <div class="imgvereador">
          <img src="/teste/flask_app/static/img/239.jpg" alt="Vereador">
          </div>
         <div class="caption">Vereador</div>
          </div>


          <div class="icon-left" id="icon-left3">
            <div class="imgvereador">
             <img src="/teste/flask_app/static/img/240.jpg" alt="Vereador">
             </div>
            <div class="caption">Vereador</div>
             </div>

             <div class="icon-left" id="icon-left4">
                <div class="imgvereador">
                 <img src="/teste/flask_app/static/img/242.jpg" alt="Vereador">
                 </div>
                <div class="caption">Vereador</div>
                 </div>


     <div class="icon-left" id="icon-left5">
          <div class="imgvereador">
            <img src="/teste/flask_app/static/img/243.jpg" alt="Vereador">
           </div>
      <div class="caption">Vereador</div>
     </div> 
                 

     <div class="icon-left" id="icon-left6">
        <div class="imgvereador">
          <img src="/teste/flask_app/static/img/244.jpg" alt="Vereador">
         </div>
    <div class="caption">Vereador</div>
   </div> 


   <div class="icon-left" id="icon-left7">
    <div class="imgvereador">
      <img src="/teste/flask_app/static/img/245.jpg" alt="Vereador">
     </div>
<div class="caption">Vereador</div>
</div> 


<div class="icon-left" id="icon-left8">
    <div class="imgvereador">
      <img src="/teste/flask_app/static/img/246.jpg" alt="Vereador">
     </div>
<div class="caption">Vereador</div>
</div> 


<div class="icon-left" id="icon-left9">
    <div class="imgvereador">
      <img src="/teste/flask_app/static/img/247.jpg" alt="Vereador">
     </div>
<div class="caption">Vereador</div>
</div> 


<div class="icon-left" id="icon-left10">
    <div class="imgvereador">
      <img src="/teste/flask_app/static/img/249.jpg" alt="Vereador">
     </div>
<div class="caption">Vereador</div>
</div> 

                <!--  /icons que estão do lado esquerdo da página -->
       </section>
         <!-- ~~~~~~~~  /section dos icons :D      ~~~~~~~~~   -->





    <!--=====  section footer     ======-->
    <footer>
        <h4>developed by byte</h4>
    </footer>
     <!--=====  /section footer     ======-->


    <!--
    {% endblock %}
                    -->
    </body>
    </html>